[defaults]
inventory = ./inventory.yml
host_key_checking = True
retry_files_enabled = False
local_tmp = /tmp/neyro-ansible
interpreter_python = /usr/bin/python3
forks = 2

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=20
control_path_dir = /tmp/neyro-ansible-cp
